@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zeyada&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');
body {
  background-color: rgb(120, 128, 156);
}
#title {
  position:absolute;
  width: 700px;
  height: 600px;
}
#startButton {
  background-color: transparent;
  position:absolute;
  width:150px;
  height:150px;
  top:350px;
  border:none;
  outline: none;
  background: none;
}
#start {
  width:150px;
}
.pancake {
  inset: 0;
  margin:auto;
  position: absolute;
}
#titleDiv {
  display: flex;
  justify-content: center;
  position: relative;
}
#buttons {
  display: flex;
  gap:30px;
}
.button {
  position:relative;
  top:500px;
  visibility: hidden;
  z-index: 10;
  padding: 15px;
  text-align: center;
}
#everythingDiv {
  display: flex;
  flex-direction: column;
  align-items:center;
}
*{
  font-family: "Architects Daughter";
}
#topText{
  visibility: hidden;
  position :absolute;
  color: rgb(46, 55, 80);
  top: 25px;
  font-family: "Indie Flower";
}
#next{
  z-index: 6;
}
.topping {
  inset: 0;
  margin:auto;
  position: absolute;
  z-index:2;
}
.font{
  font-family: "Architects Daughter";
}
#text{
  width:125px;
}