@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zeyada&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');
body {
  background-color: rgb(120, 128, 156);
}
#title {
  position:absolute;
  width: 700px;
  height: 600px;
}
#startButton {
  background-color: transparent;
  position:absolute;
  width:150px;
  height:150px;
  top:350px;
  border:none;
  outline: none;
  background: none;
}

#start {
  width:125px;
  inset: 0;
  margin:auto;
}
#start:hover {
  width: 135px;
  height:135px;
}
.pancake {
  inset: 0;
  margin:auto;
  position: absolute;
  z-index: 2;
}
#titleDiv {
  display: flex;
  justify-content: center;
  position: relative;
}
#buttons {
  display: flex;
  gap:30px;
}
.button {
  position:relative;
  top:525px;
  visibility: hidden;
  z-index: 10;
  padding: 15px;
  border: 0px;
  text-align: center;
  border-radius: 8px;
  color: rgb(46, 55, 80);
  background-color: rgb(195, 199, 203);
  font-size: 15px;
  transition: background-color 0.3s;
}
.textButton {
  position:relative;
  top:525px;
  visibility: hidden;
  z-index: 10;
  padding: 15px;
  border: 0px;
  text-align: center;
  border-radius: 8px;
  color: rgb(46, 55, 80);
  background-color: rgb(195, 199, 203);
  font-size: 15px;
}
.button:hover {
  background-color: rgb(172, 176, 200);
}
.sparkleButton {
  position:absolute;
  top:0px;
  z-index: 10;
  padding: 3px;
  border: 0px;
  text-align: center;
  border-radius: 8px;
  color: rgb(46, 55, 80);
  background-color: rgb(195, 199, 203);
  font-size: 15px;
}
.sparkleButton:hover {
  background-color: rgb(172, 176, 200);
}
#everythingDiv {
  display: flex;
  flex-direction: column;
  align-items:center;
}
*{
  font-family: "Architects Daughter";
}
#topText{
  visibility: hidden;
  position :absolute;
  color: rgb(46, 55, 80);
  top: 30px;
  font-family: "Indie Flower";
  font-size: 30px;
}
#next{
  z-index: 6;
}
.topping {
  inset: 0;
  margin:auto;
  position: absolute;
  z-index:2;
}
.font{
  font-family: "Architects Daughter" !important;
  position: absolute;
  top:500px !important;
  font-size: 35px !important;
}
#text{
  width:125px;
}
#screen{
  position:fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 100000;
  border: 0px;
  visibility: hidden;
  opacity:0;
  transition: opacity 0.2s;
}